body {
  background: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
}

.intro {
  margin-top: 50px;
  text-align: center;
  font-family: sans-serif;
}

.intro h2 {
  font-size: 3rem;
}

.upper_section,
.lower_section {
  display: flex;
  font-family: "Nerko One", cursive;
  font-weight: 200;
  font-style: normal;
}

.lower_section {
  margin-top: 100px;
}

.image img {
  width: 300px;
  height: 350px;
  border-radius: 10%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower_section,
.upper_section {
  line-height: 2.2rem;
  padding: 2rem;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.life,
.image,
.early-life {
  width: 50vw;
}
